@charset 'utf-8';

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    font-size: 62.5%;
    color: #666;
    --bg-color: #f5f5f5;
    --main-color: rgba(15, 33, 139, 1);
    --main-color2: rgba(127, 127, 115);
    --sub-color1: rgba(8, 29, 88);
    --sub-color2: rgba(61, 70, 73);
    --main-color-dark: #010726;
    --main-color60p: rgba(15, 33, 139, 0.6);
    --main-color2-60p: rgba(127, 127, 115, 0.6);
    --sub-color3: #e1e3ec;
    --white10p: rgba(255, 255, 255, 0.1);
    --white20p: rgba(255, 255, 255, 0.2);
    --white30p: rgba(255, 255, 255, 0.3);
    --white40p: rgba(255, 255, 255, 0.4);
    --white50p: rgba(255, 255, 255, 0.5);
    --white60p: rgba(255, 255, 255, 0.6);
    --white70p: rgba(255, 255, 255, 0.7);
    --white80p: rgba(255, 255, 255, 0.8);
    --white90p: rgba(255, 255, 255, 0.9);
    --black10p: rgba(0, 0, 0, 0.1);
    --black20p: rgba(0, 0, 0, 0.2);
    --black30p: rgba(0, 0, 0, 0.3);
    --black40p: rgba(0, 0, 0, 0.4);
    --black50p: rgba(0, 0, 0, 0.5);
    --black60p: rgba(0, 0, 0, 0.6);
    --black70p: rgba(0, 0, 0, 0.7);
    --black80p: rgba(0, 0, 0, 0.8);
    --black90p: rgba(0, 0, 0, 0.9);
}

::selection {
    background: var(--main-color);
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}

a {
    text-decoration: none;
    color: inherit;

    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: var(--main-color-dark);
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    text-indent: -999px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

label {
    cursor: pointer;
}

body {
    font: 1.6rem/1.5 "Pretendard", sans-serif;
}

video,
img {
    vertical-align: top;
}
.title {
    font-weight: 900;
    font-size: clamp(3rem, 4vw, 5rem);
    color: var(--main-color);
    text-transform: uppercase;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

#header.hide {
    top: -100px;
}

#header.up {
    top: 0;
    color: var(--main-color);
    background: #fff;
}

#header.default {
    background: transparent;
}

#header::after {
    content: "";
    display: block;
    position: absolute;
    top: -460px;
    left: 0;
    width: 100%;
    height: 460px;
    background: #fff;
    transition: 0.4s;
}

#header.active::after {
    top: 0;
}

.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 20;
}

#header.up .gnb li a {
    color: var(--main-color);
}

#header.default .gnb li a {
    color: #fff;
}

.gnb .logo figure {
    width: 11rem;
}

.gnb .logo figure img {
    width: 100%;
    object-fit: contain;
    transition: 0.4s;
}

.gnb .logo figure img + img {
    display: none;
    transition: 0.4s;
}

#header.active .gnb .logo figure img {
    display: none;
}

#header.active .gnb .logo figure img + img {
    display: block;
}

#header.up .gnb .logo figure img {
    display: none;
}

#header.up .gnb .logo figure img + img {
    display: block;
}
#header.default .gnb .logo figure img {
    display: none;
}

#header.default .gnb .logo figure img {
    display: block;
}

#header.default .gnb .logo figure img + img {
    display: none;
}

#header.default.active .gnb .logo figure img {
    display: none;
}
#header.default.active .gnb .logo figure img + img {
    display: block;
}

.gnb .tab-menu {
    display: none;
}

.gnb .tab-menu label::before {
    content: "";
    display: block;
    width: 3rem;
    height: 3rem;
    background: url(../img/ico-tab-menu.svg) no-repeat 50% / contain;
}

.menu {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    padding: 2rem 3.2rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.8rem;
}

#header.active .menu > li > a {
    color: var(--main-color);
}

.menu .submenu {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: var(--main-color-dark);
    /* background: #fff; */
    text-align: center;

    padding: 2rem 0;
    z-index: 5;
    display: none;
}

.menu .submenu li a {
    display: block;
    padding: 1rem 0;
}

#header.default .menu .submenu li a {
    color: var(--main-color-dark);
}

.util-menu {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.util-menu li label::before {
    content: "";
    display: block;
    width: 2.4rem;
    aspect-ratio: 1;
    background: no-repeat 50% / contain;
}

.util-menu li:first-child label::before {
    background-image: url(../img/ico-eng.svg);
}
.util-menu li:last-child label::before {
    background-image: url(../img/ico-search.svg);
}

#header.up .util-menu li:first-child label::before {
    background-image: url(../img/ico-eng-m.svg);
}
#header.up .util-menu li:last-child label::before {
    background-image: url(../img/ico-search-m.svg);
}

#header.active .gnb .util-menu li:first-child label::before {
    background-image: url(../img/ico-eng-m.svg);
}
#header.active .gnb .util-menu li:last-child label::before {
    background-image: url(../img/ico-search-m.svg);
}

#header.default .util-menu li:first-child label::before {
    background-image: url(../img/ico-eng.svg);
}
#header.default .util-menu li:last-child label::before {
    background-image: url(../img/ico-search.svg);
}

section {
    padding: 10rem 0;
}

#footer {
    background: var(--main-color-dark);
    color: #fff;
    padding: 10.5rem 0;
}

#footer a:hover {
    color: #fff;
}
.foot-title strong {
    font-weight: 700;
    font-size: 4.4rem;
}

.foot-title a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 13.7143%;
    height: 5.8rem;

    padding: 1rem 0;
    font-weight: 500;
    font-size: 3rem;
}

.foot-title a::after {
    content: "";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: url(../img/ico-down.svg) no-repeat 50%;
}
.foot-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    gap: 3rem;
}

.foot-adress {
    margin-top: 15rem;
}

.foot-adress div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3.5rem;

    font-weight: 500;
    font-size: 1.8rem;
}

.foot-adress address {
    margin-top: 2.4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2.3rem;
}

.Copyright {
    margin-top: 1.6rem;
    font-weight: 300;
}

.sns-list {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 3.7rem;
}

.sns-list li a::before {
    content: "";
    display: block;
    width: 6rem;
    height: 6rem;
    background: no-repeat 50% / contain;
}

.sns-list li:nth-child(1) a::before {
    background-image: url(../img/ico-SNS1.svg);
}
.sns-list li:nth-child(2) a::before {
    background-image: url(../img/ico-SNS2.svg);
}
.sns-list li:nth-child(3) a::before {
    background-image: url(../img/ico-SNS3.svg);
}

/* 여기서부터 반응형 들어갑니다~ */

/* 태블릿 분기점 */
@media screen and (max-width: 1024px) {
    .inner {
        /* width: 904px; */
        width: 88.2813%;
    }
    #header .inner {
        position: relative;
        margin: 0 auto;
    }
    #header .gnb {
        width: 100%;
        height: 10rem;
    }

    #header .gnb .menu {
        display: none;
    }

    #header .gnb .util-menu {
        display: none;
    }

    #header .gnb .tab-menu {
        display: block;
        z-index: 15;
    }

    #header.up .gnb .menu {
        display: none;
    }
    #header.up .gnb .util-menu {
        display: none;
    }
    #header.up .gnb .tab-menu {
        display: block;
    }
    #header.up .gnb .tab-menu label::before {
        background-image: url(../img/ico-tab-menu-m.svg);
    }

    section {
        padding: 6rem 0;
    }

    .foot-title strong {
        font-size: 4rem;
    }
}

/* 추가 분기점1 */
@media screen and (max-width: 800px) {
    #footer {
        padding: 8rem 0;
    }

    .foot-title strong {
        display: none;
    }

    .foot-title a {
        margin: 0 auto;
        width: 17rem;
    }

    .foot-nav {
        flex-direction: column;
        gap: 2rem;
    }

    .foot-adress {
        margin: 4rem auto;
    }

    .foot-adress div {
        justify-content: center;
        gap: 5vw;
    }

    .foot-adress address {
        flex-direction: column;
        gap: 1.6rem;
    }

    .Copyright {
        margin-top: 2rem;
        text-align: center;
    }

    .foot-nav .foot-sns {
        margin: 2rem auto;
    }

    .sns-list {
        justify-content: center;
        align-items: center;
    }

    .sns-list li a::before {
        width: 4rem;
        aspect-ratio: 1;
    }
}

/* 여기서부터 모바일 분기점 */
@media screen and (max-width: 420px) {
    .inner {
        width: 85.7143%;
    }

    #header {
        /* width: 42rem; */
        width: 100%;
    }

    section {
        padding: 4rem 0;
    }

    .title {
        font-weight: 800;
        font-size: 3.6rem;
    }
}
