@charset 'utf-8';

.inner {
    width: 140rem;
    width: 72.9167%;
    margin: 0 auto;
    /* background: rgba(255, 0, 255, 0.2); */
}

.visual {
    margin: 0 auto;
    position: relative;
    padding: 0 0 10rem;
}

.visual .visual-wrap {
    width: 100%;
}

.visual .visual-wrap figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: var(--black40p);

    z-index: 1;
}

.visual .visual-wrap figure {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.visual .visual-wrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visual-btn-prev,
.visual-btn-next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;

    background: rgba(0, 0, 0, 0.3) no-repeat 50% / 22%;
    z-index: 5;
    cursor: pointer;
}

.visual-btn-prev {
    left: 2vw;
    background-image: url(../img/btn-ico-prev.svg);
}

.visual-btn-next {
    right: 2vw;
    background-image: url(../img/btn-ico-next.svg);
}

.visual .visual-title {
    color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
    text-align: center;
}
.visual .visual-title h2 {
    font-weight: 700;
    font-size: clamp(3.6rem, 5.5vw, 7rem);
}

.visual .visual-title p {
    font-weight: 500;
    font-size: clamp(1.6rem, 2vw, 3rem);
    margin-top: 2rem;
    text-align: center;
}

.business-classification-list {
    display: flex;
    justify-content: space-between;
}

.business-classification-list li {
    width: 14.2857%;
    /* height: 28.6458vw; */
    height: clamp(36rem, 28vw, 55rem);
    aspect-ratio: 1/1.528;
    background: no-repeat 50% / cover;
    border-radius: 2.5rem;

    padding: 4rem 0;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: var(--main-color);
    transition: 0.4s;
    position: relative;
    overflow: hidden;
}

.business-classification-list li::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(15, 33, 139, 1) 100%
    );
    opacity: 0.7;
}

.business-classification-list li:nth-child(1) {
    background-image: url(../img/business-pic1-1.jpg);
}
.business-classification-list li:nth-child(2) {
    background-image: url(../img/business-pic2.png);
}
.business-classification-list li:nth-child(3) {
    background-image: url(../img/business-pic3.jpg);
}
.business-classification-list li:nth-child(4) {
    background-image: url(../img/business-pic4.jpg);
}
.business-classification-list li:nth-child(5) {
    background-image: url(../img/business-pic-5.jpg);
}
.business-classification-list li:nth-child(6) {
    background-image: url(../img/business-pic6.jpg);
}

.business-classification-list li a {
    color: #fff;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.business-classification-list li a::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--black40p);

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.business-classification-list li:hover {
    width: 25.7143%;
    font-size: 2.4rem;
    color: #fff;
}

.business-classification-list li:nth-child(1):hover {
    background-image: url(../img/businesspic-1.jpg);
}
.business-classification-list li:nth-child(2):hover {
    background-image: url(../img/business-pic2-1.png);
}
.business-classification-list li:nth-child(3):hover {
    background-image: url(../img/business-pic-3-1.jpg);
}
.business-classification-list li:nth-child(4):hover {
    background-image: url(../img/business-pic-4-1.jpg);
}
.business-classification-list li:nth-child(5):hover {
    background-image: url(../img/business-pic-5-1.jpg);
}
.business-classification-list li:nth-child(6):hover {
    background-image: url(../img/business-pic-6-1.jpg);
}

.business-classification-list li:hover a::before {
    opacity: 1;
}

.business-classification-list li:hover a strong {
    color: #fff;
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translatex(-50%);
}

.business .title {
    /* margin-left: 26rem; */
    text-align: center;
}

.business-wrap {
    margin: 8rem 0 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.business-wrap .business-visual {
    width: 100%;
    height: 70rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.business-wrap .business-visual > figure {
    width: 45%;
    height: 100%;
    border-radius: 0 2.5rem 2.5rem 0;
    overflow: hidden;
    position: relative;
}

.business-visual.swiper-slide-active > figure {
    -webkit-animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        0.5s both;
    animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.business-wrap .business-visual > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.business-wrap .business-visual > figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 50%
    );
}

.business-con {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.business-con dl {
    padding: 5rem 10vw 0 0;
    height: calc(70rem - 23rem - (23rem / 2));
}
.business-con dl dt {
    font-weight: 600;
    font-size: clamp(3rem, 3vw, 4rem);
    color: var(--main-color);
}
.business-con dl dd {
    margin-top: 2rem;
    font-size: clamp(1.4rem, 2vw, 1.8rem);
}

.business-list {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-right: 10vw;
}

.business-list li {
    display: flex;
    flex-direction: column;
    width: 28.5714%;
    width: min(28.5714%, 25rem);
    aspect-ratio: 1/1.1;
    text-align: center;
}

.business-list li figure {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 2.5rem;
    overflow: hidden;
    position: relative;
}

.business-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.business-list li p {
    margin-top: 1.6rem;
}

.business-visual .business-strong {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;

    font-weight: 900;
    color: #fff;
    opacity: 0;

    font-size: clamp(2.8rem, 4vw, 6rem);
}

.business-visual.swiper-slide-active .business-strong {
    opacity: 1;
    transition: 0.6s 0.8s;
}

.ethical-management-list {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ethical-management-list li {
    width: 25%;
    aspect-ratio: 1/1.5714;
    /* border: 1px solid #000; */
    border-radius: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: 0.4s;

    font-weight: 700;
    font-size: 2.4rem;
    color: var(--main-color);
    position: relative;
    overflow: hidden;
}

.ethical-management-list li strong {
    z-index: 5;
    position: relative;
}

.ethical-management-list li:hover {
    background: no-repeat 50% / cover;
    filter: drop-shadow(0 0 5px var(--black20p));
}

.ethical-management-list li:nth-child(1):hover {
    background-image: url(../img/ethical-pic1.jpg);
}
.ethical-management-list li:nth-child(2):hover {
    background-image: url(../img/ethical-pic2.jpg);
}
.ethical-management-list li:nth-child(3):hover {
    background-image: url(../img/ethical-pic3.jpg);
}
.ethical-management-list li:nth-child(4):hover {
    background-image: url(../img/ethical-pic4.png);
}

.ethical-management-list li::before {
    content: "";
    width: clamp(3.6rem, 4vw, 6.6rem);
    aspect-ratio: 1;
    background: no-repeat 50% / contain;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.ethical-management-list li:nth-child(1)::before {
    background-image: url(../img/ico-ethical1-1.svg);
}
.ethical-management-list li:nth-child(2)::before {
    background-image: url(../img/ico-ethical2-1.svg);
}
.ethical-management-list li:nth-child(3)::before {
    background-image: url(../img/ico-ethical3-1.svg);
}
.ethical-management-list li:nth-child(4)::before {
    background-image: url(../img/ico-ethical4-1.svg);
}

.ethical-management-list li:nth-child(1):hover::before {
    background-image: url(../img/ico-ethical1-w.svg);
}
.ethical-management-list li:nth-child(2):hover::before {
    background-image: url(../img/ico-ethical2-w.svg);
}
.ethical-management-list li:nth-child(3):hover::before {
    background-image: url(../img/ico-ethical3-w.svg);
}
.ethical-management-list li:nth-child(4):hover::before {
    background-image: url(../img/ico-ethical4-w.svg);
}

.ethical-management-list li:hover a {
    color: #fff;
}

.ethical-management-list li:hover a::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--black20p);

    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.newsroom {
    background: var(--main-color);
}

.newsroom h3 {
    color: #fff;
}

.newsroom .news-wrap {
    padding: 6rem 0;
    overflow-x: hidden;
}

.news-wraper {
    display: flex;
    align-items: center;
}

.news-wrap .news {
    background: no-repeat 50% / cover;

    border-radius: 2.5rem;
    overflow: hidden;

    position: relative;
    width: 100%;
    aspect-ratio: 1;
}

.news-wrap .new-card {
    width: 100%;
    aspect-ratio: 1/1;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;

    padding: 4rem;
    color: #fff;
    background: url(../img/54463_67858_5459.png) no-repeat 50% / cover;
    transition: 0.4s;
    position: relative;
}

.news-wrap .new-card::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.news-wrap .new-card strong {
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: auto;
    display: inline-block;
    padding: 4rem;
    font-weight: 700;
    font-size: 2.4rem;
}

.news-wrap .new-card p {
    position: absolute;
    bottom: 1.6rem;
    left: 0;
    right: auto;
    display: inline-block;

    padding: 4rem;
    margin-top: 3rem;
    font-size: 1.6rem;
}

.news-wrap .news-hov {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;

    padding: 6rem 4rem;
    align-items: center;

    background: url(../img/352755_250741_652.png) no-repeat 50% / cover;

    color: #fff;
}

.news-wrap .news .news-hov dl {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem;
}

.news-wrap .news .news-hov dl dt {
    font-weight: 700;
    font-size: clamp(1.8rem, 2vw, 2.8rem);
}
.news-wrap .news .news-hov dl dd {
    font-weight: 500;
    font-size: clamp(1.6rem, 1.5vw, 2rem);
}
.news-wrap .news .news-hov dl dd + dd {
    font-size: 1.6rem;
}

.news-wrap .news .news-hov::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.news-wrap .news .news-hov a {
    position: absolute;
    bottom: 10%;
    right: 10%;

    margin-top: 5rem;
    border: 1px solid #fff;
    border-radius: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.6rem 1.6rem;
    font-weight: 500;
    font-size: 1.6rem;
    transition: 0.4s;
    text-indent: -999px;
    overflow: hidden;
    border-radius: 50%;
}

.news-wrap .news .news-hov a::after {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background: url(../img/ico-plus-w.svg) no-repeat 50% / cover;
}

.news-wrap .news .news-hov a:hover {
    background: #fff;
    color: var(--main-color);
}

.news-wrap .news .news-hov a:hover::after {
    background-image: url(../img/ico-plus.svg);
}

.news-wrap .news:hover .new-card {
    display: none;
}

.news-wrap .news:hover .news-hov {
    display: block;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 1vw;
}

.swiper-pagination-bullet {
    width: clamp(1.5rem, 1.8vw, 2.2rem);
    height: clamp(1.5rem, 1.8vw, 2.2rem);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1);
}

.career .title + p {
    font-weight: 600;
    font-size: 3.2rem;
    color: var(--main-color);
}

.career .career-list {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.career .career-list li {
    margin-top: 6rem;
    padding: 0 3vw;
    width: 50%;
}

.career .career-list li figure {
    width: 100%;
    aspect-ratio: 1/0.6;
}

.career .career-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.career .career-list li a {
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    padding: 3rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.career .career-list li a p {
    color: var(--main-color);
}

.career .career-list li a::before {
    content: "";
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/ico-plus.svg) no-repeat 50% / cover;
}

.career .career-list li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--main-color);
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
}

.career .career-list li a:hover p {
    position: relative;
    z-index: 5;
    color: #fff;
}

.career .career-list li a:hover::before {
    background-image: url(../img/ico-plus-w.svg);
    position: relative;
    z-index: 5;
}

.career .career-list li a:hover::after {
    border-radius: 2rem;
    height: 100%;
    filter: drop-shadow(0 0 5px var(--black20p));
}

.mcust {
    padding-bottom: 0;
}

.mcust-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mcust-list li {
    width: 33.3333%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;

    /* border: 1px solid #000; */
    background: var(--sub-color3) no-repeat 50% / cover;

    font-weight: 700;
    font-size: 2.4rem;
    color: #000;
    transition: 0.4s;
}

.mcust-list li a {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
}

.mcust-list li a p {
    color: var(--main-color);
    font-size: clamp(1.6rem, 2vw, 2.4rem);
}

.mcust-list li:nth-child(2) {
    background: var(--main-color);
}
.mcust-list li:nth-child(2) a p {
    color: #fff;
}

.mcust-list li a::before {
    content: "";
    background: no-repeat 50% / contain;
    display: inline-block;
    width: 5rem;
    height: 5rem;
}

.mcust-list li a::before {
    background-image: url(../img/ico-SC1.svg);
}

.mcust-list li:nth-child(2) a::before {
    background-image: url(../img/ico-SC2.svg);
}

.mcust-list li:nth-child(3) a::before {
    background-image: url(../img/ico-SC3.svg);
}

/* 여기서부터 반응형 분기점~ */
@media screen and (max-width: 1500px) {
    .news-wrap .news-hov {
        padding: 2rem;
    }

    .news-wrap .news .news-hov dl {
        padding: 2rem;
    }

    .news-wrap .news .news-hov a {
        bottom: 5%;
        right: 5%;
    }
}

/* 태블릿 분기점 시작 */
@media screen and (max-width: 1024px) {
    .inner {
        width: 88.2813%;
    }

    .visual {
        padding: 0 0 6rem;
    }

    .visual .visual-title {
        width: 90%;
    }

    .visual .visual-title p {
        font-size: 2.4rem;
    }

    .business-classification-list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }

    .business-classification-list li {
        width: 30.9735%;
        height: 20rem;
    }

    .business-classification-list li:nth-child(1) {
        background-image: url(../img/businesspic-1.jpg);
    }
    .business-classification-list li:nth-child(2) {
        background-image: url(../img/business-pic2-1.png);
    }
    .business-classification-list li:nth-child(3) {
        background-image: url(../img/business-pic-3-1.jpg);
    }
    .business-classification-list li:nth-child(4) {
        background-image: url(../img/business-pic-4-1.jpg);
    }
    .business-classification-list li:nth-child(5) {
        background-image: url(../img/business-pic-5-1.jpg);
    }
    .business-classification-list li:nth-child(6) {
        background-image: url(../img/business-pic-6-1.jpg);
    }

    .business-classification-list li a::before {
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
    }

    .business-classification-list li a strong {
        color: #fff;
        font-size: 1.8rem;
        position: relative;
    }

    .business-wrap .business-visual {
        height: 58.6vw;
    }

    .business-con dl {
        padding: 5rem 11.71875% 0 0;
        height: initial;
    }
    .business-list {
        margin-top: 6vw;
        /* margin-right: 6rem; */
        margin-right: 5.8594%;
        align-items: start;
    }
    .business-list li {
        flex: 0 1 30%;
    }

    .business-list li:last-child {
        margin-right: 0;
    }

    .ethical-management-list {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .ethical-management-list li {
        width: 47.6726%;
        aspect-ratio: 1/0.5;
        background: no-repeat 50% / cover;
    }

    .ethical-management-list li:nth-child(1) {
        background-image: url(../img/ethical-pic1.jpg);
    }
    .ethical-management-list li:nth-child(2) {
        background-image: url(../img/ethical-pic2.jpg);
    }
    .ethical-management-list li:nth-child(3) {
        background-image: url(../img/ethical-pic3.jpg);
    }
    .ethical-management-list li:nth-child(4) {
        background-image: url(../img/ethical-pic4.png);
    }

    .ethical-management-list li:nth-child(1)::before {
        background-image: url(../img/ico-ethical1-w.svg);
    }
    .ethical-management-list li:nth-child(2)::before {
        background-image: url(../img/ico-ethical2-w.svg);
    }
    .ethical-management-list li:nth-child(3)::before {
        background-image: url(../img/ico-ethical3-w.svg);
    }
    .ethical-management-list li:nth-child(4)::before {
        background-image: url(../img/ico-ethical4-w.svg);
    }

    .ethical-management-list li strong {
        color: #fff;
        font-size: 1.8rem;
    }

    .ethical-management-list li a::before {
        content: "";
        width: 100%;
        height: 100%;
        background: var(--black20p);

        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }

    .news-wrap .news {
        aspect-ratio: 1;
    }

    .news .new-card {
        display: none;
    }

    .news-wraper {
        align-items: initial;
    }

    .news-wrap .news-hov {
        display: flex;
        width: 100%;
        aspect-ratio: 1;
    }

    .news-wrap .news .news-hov dl {
        gap: 1rem;
        padding: 2rem;
    }

    .news-wrap .news .news-hov dl dt {
        font-size: 2rem;
    }

    .news-wrap .news .news-hov dl dd {
        display: none;
    }

    .news-wrap .news .news-hov dl dd + dd {
        display: none;
    }

    .news-wrap .news .news-hov a {
        bottom: 1rem;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .career .career-list li {
        padding: 0 2rem;
    }

    .career .career-list li figure {
        min-height: initial;
    }

    .career .career-list li a {
        padding: 3rem 10%;
    }

    .mcust-list li a {
        padding: 3rem 0;
    }

    .mcust-list li a::before {
        width: 3rem;
        height: 3rem;
    }
}

/* 추가 분기점 1 */
@media screen and (max-width: 780px) {
    .visual .visual-title p {
        display: none;
    }

    .business-con dl {
        height: inherit;
        padding: 1rem 11.71875% 0 0;
    }

    .visual .visual-wrap {
        aspect-ratio: 1/1.2;
    }

    .business-classification-list li {
        width: 10rem;
        width: 27.7778%;
        /* height: 10rem; */
        height: initial;
        aspect-ratio: 1;
        border-radius: 50%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .business .title {
        /* margin-left: 3rem; */
        margin-left: 7.1429vw;
    }

    .business-wrap {
        margin-top: 4rem;
    }

    .business-wrap .business-visual {
        flex-direction: column;
        height: 100vh;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .business-wrap .business-visual > figure {
        width: 100%;
        min-height: 30rem;
    }

    .business-visual.swiper-slide-active .business-strong {
        top: 20%;
        left: 50%;

        font-weight: 500;
    }

    .business-con {
        width: 100%;
        height: 65%;
        padding: 2rem;
    }

    .business-con dl {
        padding: 0;
        height: 50%;
    }
    .business-con dl dt {
        font-size: 3rem;
        text-align: center;
    }
    .business-con dl dd {
        font-size: 1.6rem;
    }

    .business-list {
        margin: 5rem 0;
        padding: 0;
    }

    .career .title + p {
        font-size: 2.4rem;
    }

    .career .career-list {
        flex-direction: column;
    }

    .career .career-list li {
        width: 100%;
        padding: 0;
    }

    .mcust-list li a {
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 690px) {
    .ethical-management-list {
        margin-top: 4rem;
    }

    .ethical-management-list li {
        width: 100%;
        aspect-ratio: 1/0.5;
        background: #000 no-repeat 50% / cover;
    }

    .ethical-management-list li::before {
        width: 4rem;
        aspect-ratio: 1;
    }

    .mcust-list {
        flex-direction: column;
    }

    .mcust-list li {
        width: 100%;
        justify-content: start;
    }
}

/* 여기서 부터 모바일 */
@media screen and (max-width: 560px) {
    .inner {
        width: 85.7143%;
    }

    .news-wrap .news .news-hov dl dt {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .news-wrap .news .news-hov dl dd {
        display: none;
    }

    .news-wrap .news .news-hov a {
        padding: 0.5rem;
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 1.5rem;
        height: 1.5rem;
    }
}
