@charset 'utf-8';

#header {
    border-bottom: 2px solid var(--main-color);
    background-color: #fff;
}

#header .gnb .menu > li > a {
    color: var(--main-color);
}

.gnb .logo a img {
    display: none;
}

.gnb .logo a img + img {
    display: block;
}

.util-menu li:first-child label::before {
    background-image: url(../img/ico-eng-m.svg);
}

.util-menu li:last-child label::before {
    background-image: url(../img/ico-search-m.svg);
}

.inner {
    width: 1400px;
    width: 72.9167%;
    margin: 0 auto;
}

.bread-crumbs {
    margin: 23rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    /* background: #ff5; */
}

.bread-crumbs > div:nth-child(1) {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    top: 0;
    left: 0;
    padding: 2rem;
}

.bread-crumbs > div:first-child > a::before {
    content: "";
    display: block;
    width: 2.4rem;
    aspect-ratio: 1;
    background: url(../img/ico-nav-home.svg) no-repeat 50% / contain;
}

.crumbs-main {
    position: relative;
    border: #f5f;
    z-index: 1;
}

.crumbs-main strong {
    display: flex;
    padding: 2rem 3rem;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.crumbs-main strong::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border: solid #666;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg) translateY(-2px);
    flex: 1 0 10%;
}

.main-menu {
    position: absolute;
    top: 100%;
    left: 0;
    /* border: 1px solid red; */
    display: none;
}

.main-menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #f5f5f5;
    border-bottom: 1px solid var(--black30p);
}

.main-menu li:last-child {
    border: none;
}

.crumbs-sub {
    width: 15rem;
    position: relative;
    border: #f5f;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crumbs-sub strong {
    display: flex;
    padding: 2rem 3rem;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.crumbs-sub strong::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border: solid #666;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg) translateY(-2px);
    flex: 1 0 10%;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    /* border: 1px solid red; */
    display: none;
}

.sub-menu li {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f5f5f5;
    border-bottom: 1px solid var(--black30p);
}

.sub-menu li:last-child {
    border: none;
}

.bread-crumbs > div ul li {
    background: var(--main-color);
    color: #fff;
}

.bread-crumbs > div ul li:hover {
    background: var(--main-color-light);
}

.bread-crumbs > div ul li:hover a {
    color: #fff;
}

.bread-crumbs > div ul li a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 3rem;
    /* border: 1px solid #000; */

    font-weight: 600;
}

.main-visual {
    padding-top: 0;
}

.main-visual .head-title {
    margin-top: 2rem;
    text-align: center;

    font-size: clamp(5rem, 6vw, 8rem);
}

.menu-title {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.menu-title li {
    border: 1px solid var(--black30p);
    border-radius: 1rem;
}

.menu-title li a {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: keep-all;
}

.menu-title li.active {
    color: #fff;
    background: var(--main-color);
    border: none;
}

.menu-title li.active:hover a {
    color: #fff;
}

.visual-con {
    background: url(../img/sub-visual.jpg) no-repeat 50% / cover;
    position: relative;

    margin-top: 13rem;
    width: 100%;
    height: 50rem;
}

.visual-con::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--black50p);
}

.visual-con p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 3rem;
    color: #fff;
}

.visual-con p strong {
    font-weight: 700;
    font-size: clamp(3rem, 4vw, 4.8rem);
}

.visual-con p strong b {
    font-size: clamp(4.8rem, 5.5vw, 7rem);
}

.sub-title {
    text-align: center;
}

.sub-title h3 {
    font-weight: 900;
    font-size: clamp(3rem, 4vw, 6.8rem);
    color: var(--main-color);
}

.sub-title strong {
    font-weight: 900;
    font-size: clamp(2.4rem, 3.5vw, 4rem);
    color: #333;
}

.sub-title strong b {
    color: var(--main-color);
}

.sub-title p {
    font-weight: 700;
    font-size: clamp(1.8rem, 2.5vw, 3rem);
}

.sub-visual {
    width: 116rem;
    width: 82.8571%;
    position: relative;
    margin: 8rem auto;
}

.sub-visual figure {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.sub-visual figure::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background: var(--black30p);
    backdrop-filter: blur(5px);
}

.sub-con {
    position: absolute;
    text-transform: uppercase;
    inset: 0;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.sub-con dt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: clamp(5rem, 7vw, 12rem);
    text-align: center;
    z-index: 1;
    opacity: 0.2;
    line-height: 1;
}

.sub-con dd {
    position: absolute;
    font-weight: 500;
    font-size: clamp(1.4rem, 2vw, 3.2rem);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.sub-con dd::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: var(--main-color);
    border-radius: 50%;
}

.sub-con dd:nth-of-type(1) {
    top: 0%;
    left: 15%;
}
.sub-con dd:nth-of-type(2) {
    top: 20%;
    right: 10%;
}
.sub-con dd:nth-of-type(3) {
    top: 45%;
    left: 0%;
}
.sub-con dd:nth-of-type(4) {
    top: 60%;
    right: 15%;
}
.sub-con dd:nth-of-type(5) {
    top: 75%;
    left: 25%;
    transform: translateX(-50%);
}

.vision1 figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vision2 {
    padding: 12rem 0;
    background-color: var(--main-color);
}

.vision-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20rem;
}

.vision-con > li {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.vision-con > li:nth-child(even) {
    flex-direction: row-reverse;
}

.vision-con > li > div {
    width: 45%;
}

.vision-con > li > div strong {
    font-weight: 700;
    font-size: clamp(3rem, 3vw, 4rem);
    color: #fff;
}

.business-vision,
.Management-philosophy {
    width: 100%;
}

.vision-list {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.vision-list li {
    width: 28.5714%;
    aspect-ratio: 1/0.8889;
    background: var(--main-color-light);
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: clamp(1.6rem, 1.8vw, 2.2rem);
    color: #fff;
    gap: 0.5rem;
}

.vision-list li::before {
    content: "";
    width: clamp(1.6rem, 3vw, 4.4rem);
    aspect-ratio: 1;
    background: no-repeat 50% / contain;
}

.vision-list li:nth-child(1)::before {
    background-image: url(../img/ico-sub1-1.svg);
}

.vision-list li:nth-child(2)::before {
    background-image: url(../img/ico-sub1-2.svg);
}

.vision-list li:nth-child(3)::before {
    background-image: url(../img/ico-sub1-3.svg);
}

.vision-con p {
    margin-top: 6.8rem;
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    line-height: 1.8;
}

.img-group {
    width: 45%;
    aspect-ratio: 1/0.9524;
    border-radius: 2.5rem;
    overflow: hidden;
}

.img-group img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Management-philosophy .vision-list li {
    background-color: var(--main-color-dark);
}

.Management-philosophy .vision-list li:nth-child(1)::before {
    background-image: url(../img/ico-sub2-1.svg);
}

.Management-philosophy .vision-list li:nth-child(2)::before {
    background-image: url(../img/ico-sub2-2.svg);
}

.Management-philosophy .vision-list li:nth-child(3)::before {
    background-image: url(../img/ico-sub2-3.svg);
}

.promotion .mini-title {
    font-size: clamp(3rem, 4vw, 4.8rem);
    text-align: center;
}

.promotion figure {
    width: 71.4286%;
    aspect-ratio: 16/9;
    margin: 8rem auto;
}

.promotion figure iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* 여기서부터 반응형 분기점 */

@media screen and (max-width: 1400px) {
    .vision-con > li figure {
        aspect-ratio: 1/1.4;
    }
}

/* 여기서부터 태블릿 */
@media screen and (max-width: 1024px) {
    .inner {
        width: 76.5625%;
    }

    #header .hamburger-menu label::before {
        content: "";
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background: url(../img/ico-tab-menu-m.svg) no-repeat 50% / contain;
    }

    .vision-con {
        gap: 13.6719vw;
    }

    .vision-con > li {
        flex-direction: column-reverse;
        gap: 6rem;
    }

    .vision-con > li > div {
        width: 100%;
    }

    .vision-list {
        margin-top: 4rem;
    }

    .vision-list li {
        aspect-ratio: 1/0.8;
        font-size: clamp(1.4rem, 2.2vw, 2.4rem);
    }

    .vision-con > li figure {
        width: 100%;
        aspect-ratio: 1/0.5;
    }

    .vision-con > li:nth-child(even) {
        flex-direction: column-reverse;
        gap: 6rem;
    }

    .vision-con p {
        margin-top: 4.8rem;
        font-size: clamp(1.6rem, 1.8vw, 2rem);
    }
}

/* 추가분기점1 */
@media screen and (max-width: 800px) {
    .menu-title {
        width: 90%;
        overflow-x: scroll;
        justify-content: start;
        margin: 2rem auto 0;
    }

    .sub-con dd {
        display: none;
    }
}

/* 여기서부터 모바일 */
@media screen and (max-width: 420px) {
    .inner {
        width: 85.7143%;
    }

    .sub-title strong {
        margin-top: 1.6rem;
        font-weight: 700;
    }

    .sub-title p {
        font-weight: 400;
    }

    .vision-list li {
        aspect-ratio: 1/0.5;
        gap: 0.5rem;
        padding: 1rem 0;
    }

    .promotion figure {
        width: 100%;
        margin: 5rem 0;
    }
}
